body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://cutewallpaper.org/21/pokemon-pokedex-background/Pokemon-Rotom-Dex-4k-Live-Wallpaper-DesktopHut.jpg") no-repeat center fixed;
  background-size: cover;
}